# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/

# Archivos temporales
*.swp
*.swo

# Coverage (por si luego usas testing)
coverage/

# Archivos generados
*.log